  <!-- Proyectos -->
  <section class="proyectos">
    <h1 id="proyectos">Proyectos</h1>
    <div class="proyecto-1">

      <h2 class="titulo-proyecto">Porfolio fullStack</h2>
      <ul class="frontend">Tecnologias aplicadas fronEnd
        <li>Html5</li>
        <li>Css3</li>
        <li>Bootstrap</li>
        <li>Angular</li>
      </ul>

      <ul class="backend">Tecnologias aplicadas backEnd
        <li>Java</li>
        <li>Bootprint</li>
        <li>MySQL</li>
      </ul>

      <a class="git-front btn" href="https://github.com/victormarsilli/porfolio-FrontEnd.git" target="_blank"
        rel="noopener noreferrer">Repositorio FrontEnd
        <i class="fa-brands fa-square-github"></i>
      </a>
      <a class="git-back btn" href="https://github.com/victormarsilli/porfolio-FrontEnd.git" target="_blank"
        rel="noopener noreferrer">Repositorio backEnd
        <i class="fa-brands fa-square-github"></i>
      </a>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-proyectos" data-bs-toggle="modal"
      data-bs-target="#modal-modificar">
      <i class="fa-solid fa-square-pen"></i>
    </button>
    <button type="button" class="btn btn-primary btn-proyectos" data-bs-toggle="modal"
      data-bs-target="#modal-eliminar">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </section>
