<!-- seccion experiencia laboral -->
<section id="experiencia-laboral">
    <div class="experiencia">
      <h2>Experiencia laboral</h2>

      <div class="primero">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, vitae vel quasi possimus
          amet nesciunt autem harum quia eius ducimus qui eum ab. Soluta possimus cumque tempora quaerat dolore! Eos.
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-p" data-bs-toggle="modal" data-bs-target="#modal-modificar">
          <i class="fa-solid fa-square-pen"></i>
        </button>
        <button type="button" class="btn btn-primary btn-p" data-bs-toggle="modal" data-bs-target="#modal-eliminar">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="segundo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vel totam illo asperiores est
          magni? Explicabo quam veritatis tempora delectus iste et iure facere. Ad ipsam dolorum provident maiores
          officia!</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-p" data-bs-toggle="modal" data-bs-target="#modal-modificar">
          <i class="fa-solid fa-square-pen"></i>
        </button>
        <button type="button" class="btn btn-primary btn-p" data-bs-toggle="modal" data-bs-target="#modal-eliminar">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="tercero">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur incidunt voluptatibus
          nihil accusantium voluptatem beatae impedit non consequatur hic sit magni alias, sed iure nostrum quia
          reprehenderit ad recusandae dignissimos?
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-p" data-bs-toggle="modal" data-bs-target="#modal-modificar">
          <i class="fa-solid fa-square-pen"></i>
        </button>
        <button type="button" class="btn btn-primary btn-p" data-bs-toggle="modal" data-bs-target="#modal-eliminar">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
