<!-- articulo acerca de mi -->
<article id="acerca-de-mi">
    <div id="carrouselExampleIndicators" class="carousel slide div-fondo">

        <!-- imagen fondo -->

        <img src="./assets/img/fullstack.jpg" class="d-block w100 fondo" alt="foto info">

        <!-- imagen usuario -->

        <div class="card" style="width: 25rem;">
            <img src="./assets/img/usuario.jpg" class="card-img-top" alt="Foto usuario">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-usuario" data-bs-toggle="modal"
                data-bs-target="#modal-modificar">
                <i class="fa-solid fa-square-pen"></i>
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                </div>
            </div>

            <h1>Victor Marsilli
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-nombre1" data-bs-toggle="modal"
                    data-bs-target="#modal-modificar">
                    <i class="fa-solid fa-square-pen"></i>
                </button>
                <button type="button" class="btn btn-primary btn-nombre2" data-bs-toggle="modal"
                    data-bs-target="#modal-eliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </h1>
            <h2>Acerca de Mi</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque itaque voluptates esse eligendi,
                accusantium velit voluptatibus, libero vitae reiciendis dolor quos fugit? Quia, dolorem harum iste odit
                numquam officiis commodi.
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-acercaDeMi1" data-bs-toggle="modal"
                    data-bs-target="#modal-modificar">
                    <i class="fa-solid fa-square-pen"></i>
                </button>
                <button type="button" class="btn btn-primary btn-acercaDeMi2" data-bs-toggle="modal"
                    data-bs-target="#modal-eliminar">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </p>
        </div>
    </div>


</article>