<header>
    <nav class="navbar navbar-expand-lg bg-navbar text-light">
      <div class="container-fluid">
        <!-- banner arg y logos redes -->
        <ul class="navbar-nav me-auto mb-4 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link arg" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
              target="_blank"><img src="./assets/img/logo.png" alt="logo de argentina programa"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/victormarsilli/" target="_blank"><i
                class="fa-brands fa-facebook facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/victormarsilli/" target="_blank"><i
                class="fa-brands fa-square-instagram instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/victor-marsilli-146441238/" target="_blank"><i
                class="fa-brands fa-linkedin linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login"><i class="fa-solid fa-user login" target="_blank"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    
  <body>
  <content class="contacto">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Ingrese su email aqui
        <i class="fa-solid fa-at"></i>
      </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Escriba su mensaje aqui
        <i class="fa-solid fa-envelope"></i></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Escribe aqui"></textarea>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
      </div>
    </div>
  </content>

  <!-- barra nav -->
  
  
  <div class="nav-lateral">
    <li class="inicio"><a routerLink="/inicio"><i class="fa-solid fa-house"></i></a></li>
  </div>
  <!-- footer -->
  <app-footer></app-footer>

  <router-outlet></router-outlet>